* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: Poppins, sans-serif;
}
.dautrang {
    background-color: #fde68a;
    height: 162px;
    text-align: center;
    padding: 40px;
}
.dautrang h1{
    font-size: 36px;
    color: #78350f;
}
.dautrang span{
    font-size: 18px;
}
a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #78350f;
}
.taskbar {
    background-color: #fed7aa;
    text-align: center;
    height: 42px;
    padding: 8px;
}
.dieuhuong {
    width: 130px;
    height: 40px;
    border: solid #fed7aa 1px;
    border-radius: 6px;
    margin-right: 11px;
    margin-left: 11px;
    transition: background-color 0.4s ease , color 0.4s ease , margin-left 0.4s ease , margin-right 0.4s ease , padding 0.4s ease , boder-radius 0.4s ease ;
}
#trangchu:hover {
    background-color: #c2410c;
    color: white;
    width: 36px;
    height: 20px;
    padding: 5px 8px;
    border-radius: 6px;
    margin-right: 20px;
}
#gioithieu:hover {
    background-color: #c2410c;
    color: white;
    width: 36px;
    height: 20px;
    padding: 5px 8px;
    border-radius: 6px;
    margin-right: 20px;
    margin-left: 20px;
}
#bacsi:hover {
    background-color: #c2410c;
    color: white;
    width: 36px;
    height: 20px;
    padding: 5px 8px;
    border-radius: 6px;
    margin-left: 20px;
}
.slogan {
    height: 410px;
    position: relative;
}
img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.note {
    width: 430px;
    height: 150px;
    border: solid white 1px;
    background-color: rgba(255, 255, 255, 0.87);
    border-radius: 10px;
    position: absolute;
    bottom: 20px;
    left: 40px;
    padding: 20px 20px;
}
main {
    background-color: #fff7ed;
}
.noidung {
    text-align: center;
    color: #92400e;
    font-size: 28px;
    font-weight: 700;
}
.infor1 p {
    text-align: center;
    font-size: 16px;
    color: #92400e;
}
.infor2 p {
    text-align: center;
    font-size: 20px;
    color: #92400e;
}
.infor3 {
    text-align: center;
    color: #92400e;
    font-size: 17px;
}
footer {
    background-color: #78350f;
    color: white;
    font-size: 16px;
    text-align: center;
    padding: 15px;
}
